# Mengabaikan file environment (berisi API Key OpenAI & Ngrok)
.env

# Mengabaikan data lokal agar privasi user aman
users.json
chat_history.json

# Mengabaikan folder virtual environment Python
venv/
env/

# Mengabaikan file cache bawaan Python
__pycache__/
*.pyc