# Mengabaikan file environment yang berisi API Keys rahasia
.env

# Mengabaikan folder cache Python
__pycache__/
*.pyc

# Mengabaikan data lokal dan riwayat agar tidak tertimpa
users.json
chat_history.json

# Mengabaikan cache testing
.pytest_cache/